<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.ninou.entre"
      version="0.1.0">
    <name>Entre</name>
    <description>Sample Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,plugin</keywords>


    <js-module src="www/entre.js" name="Entre">
        <clobbers target="window.entre" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Entre">
                <param name="android-package" value="com.ninou.entre"/>
            </feature>
        </config-file>

        <source-file src="src/android/Entre.java" target-dir="src/com/ninou/entre" />
     </platform>
</plugin>
